    <article class="entry-item ct-item-1 style-04">
        <div class="entry-thumb">
           <a href="#">
                <img src="https://haqqem-bucket.s3.eu-central-1.amazonaws.com/{{book.bookItems[0].imageUrl}}" style="height: 400px;overflow: hidden;" alt="Responsive image" alt="" />
            </a>
            <div class="entry-content">
                <header>
                    <h4 class="entry-title"><a href="#">{{book.title}}</a></h4>
                    <!-- <div class="kopa-rating">
                        <ul>
                            <li><span class="fa fa-star"></span></li>
                            <li><span class="fa fa-star"></span></li>
                            <li><span class="fa fa-star"></span></li>
                            <li class="hactive"><span class="fa fa-star"></span></li>
                            <li class="inactive"><span class="fa fa-star"></span></li>
                        </ul>
                    </div> -->
                </header>
                <p>Suspendisse ac tellus congue and eleifend leo eu, elementum.</p>
                <p class="ct-space-1"></p>
                <div class="ct-icon-1">
                    <p><span>₺</span>20</p>
                </div>
            </div>
        </div>
        <footer>
            <div class="ft-wrap style-01">
                <ul>
                    <li style="width: 100%;">
                        <a href="#">
                            <i class="icon-user"></i> Yazar {{book?.author}}
                        </a>
                    </li>
                    <!-- <li>
                        <a href="#">
                            <i class="fa fa-folder-o"></i> magazine
                        </a>
                    </li> -->
                </ul>
            </div>
            <div class="ft-wrap style-02 d-none d-sm-block">
                <ul>
                    <li>
                        <div class="add-to-wishlist">
                            <div>
                                <a href="#" class="add_to_wishlist">
                                    <i class="icon-dandr"></i>                               
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="add-to-wishlist">
                            <div>
                                <a href="#" class="add_to_wishlist">
                                    <i class="icon-kdg"></i>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="#">
                            <i class="icon-pnd"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#" target="blank">
                            <i class="icon-yky"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </footer>
    </article>
    <div class="badge-icon-1 style-01">
        New
        <span></span>
    </div>
<!-- masonry-item -->