<div id="main-content">
    <section class="kopa-area kopa-area-1 kopa-area-parallax white-text-style">
        <div class="kopa-area-tg-1">
            <span></span>
        </div>

        <div class="container">

            <div class="row">
        
                <div class="col-md-12 col-sm-12 col-xs-12">

                    <div class="widget reading-module-promo-1">
                        <div class="widget-content">     
                            <div class="promo-text promo-text-2">
                                <span class="wow fadeInUp animated" data-wow-duration="0.4s" data-wow-delay="1s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1s; -moz-animation-delay: 1s; animation-delay: 1s;">h</span>
                                <span class="wow fadeInUp animated" data-wow-duration="0.4s" data-wow-delay="1s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1s; -moz-animation-delay: 1s; animation-delay: 1s;">a</span>
                                <span class="wow fadeInUp animated" data-wow-duration="0.4s" data-wow-delay="1s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1s; -moz-animation-delay: 1s; animation-delay: 1s;">q</span>
                                <span class="wow fadeInUp animated" data-wow-duration="0.4s" data-wow-delay="1s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1s; -moz-animation-delay: 1s; animation-delay: 1s;">q</span>
                                <span class="wow fadeInUp animated" data-wow-duration="0.4s" data-wow-delay="1s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1s; -moz-animation-delay: 1s; animation-delay: 1s;">e</span>
                                <span class="wow fadeInUp animated" data-wow-duration="0.4s" data-wow-delay="1s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1s; -moz-animation-delay: 1s; animation-delay: 1s;">m</span>
                            </div> 
                            <div class="promo-text promo-text-3">
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="0.3s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 0.3s; -moz-animation-delay: 0.3s; animation-delay: 0.3s;">w</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="0.45s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 0.45s; -moz-animation-delay: 0.45s; animation-delay: 0.45s;">o</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="0.7s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 0.7s; -moz-animation-delay: 0.7s; animation-delay: 0.7s;">r</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="0.75s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 0.75s; -moz-animation-delay: 0.75s; animation-delay: 0.75s;">l</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="0.8s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 0.8s; -moz-animation-delay: 0.8s; animation-delay: 0.8s;">d</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="0.85s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 0.85s; -moz-animation-delay: 0.85s; animation-delay: 0.85s;">'</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="0.9s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 0.9s; -moz-animation-delay: 0.9s; animation-delay: 0.9s;">s</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="0.95s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 0.95s; -moz-animation-delay: 0.95s; animation-delay: 0.95s;">&nbsp;</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="1s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1s; -moz-animation-delay: 1s; animation-delay: 1s;">l</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="1.05s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1.05s; -moz-animation-delay: 1.05s; animation-delay: 1.05s;">a</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="1.1s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1.1s; -moz-animation-delay: 1.1s; animation-delay: 1.1s;">r</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="1.15s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1.15s; -moz-animation-delay: 1.15s; animation-delay: 1.15s;">g</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="1.2s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1.2s; -moz-animation-delay: 1.2s; animation-delay: 1.2s;">e</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="1.25s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1.25s; -moz-animation-delay: 1.25s; animation-delay: 1.25s;">s</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="1.3s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1.3s; -moz-animation-delay: 1.3s; animation-delay: 1.3s;">t</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="1.35s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1.35s; -moz-animation-delay: 1.35s; animation-delay: 1.35s;">&nbsp;</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="1.4s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1.4s; -moz-animation-delay: 1.4s; animation-delay: 1.4s;">o</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="1.45s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1.45s; -moz-animation-delay: 1.45s; animation-delay: 1.45s;">n</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="1.5s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1.5s; -moz-animation-delay: 1.5s; animation-delay: 1.5s;">l</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="1.55s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1.55s; -moz-animation-delay: 1.55s; animation-delay: 1.55s;">i</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="1.6s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1.6s; -moz-animation-delay: 1.6s; animation-delay: 1.6s;">n</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="1.65s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1.65s; -moz-animation-delay: 1.65s; animation-delay: 1.65s;">e</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="1.7s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1.7s; -moz-animation-delay: 1.7s; animation-delay: 1.7s;">&nbsp;</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="1.75s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1.75s; -moz-animation-delay: 1.75s; animation-delay: 1.75s;">b</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="1.8s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1.8s; -moz-animation-delay: 1.8s; animation-delay: 1.8s;">o</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="1.85s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1.85s; -moz-animation-delay: 1.85s; animation-delay: 1.85s;">o</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="1.9s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1.9s; -moz-animation-delay: 1.9s; animation-delay: 1.9s;">k</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="1.95s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 1.95s; -moz-animation-delay: 1.95s; animation-delay: 1.95s;">&nbsp;</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="2s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 2s; -moz-animation-delay: 2s; animation-delay: 2s;">c</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="2.05s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 2.05s; -moz-animation-delay: 2.05s; animation-delay: 2.05s;">o</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="2.1s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 2.1s; -moz-animation-delay: 2.1s; animation-delay: 2.1s;">m</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="2.15s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 2.15s; -moz-animation-delay: 2.15s; animation-delay: 2.15s;">p</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="2.20s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 2.20s; -moz-animation-delay: 2.20s; animation-delay: 2.20s;">a</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="2.25s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 2.25s; -moz-animation-delay: 2.25s; animation-delay: 2.25s;">r</span>
                                <span class="wow fadeInRight animated" data-wow-duration="0.4s" data-wow-delay="2.30s" style="visibility: visible;-webkit-animation-duration: 0.4s; -moz-animation-duration: 0.4s; animation-duration: 0.4s;-webkit-animation-delay: 2.30s; -moz-animation-delay: 2.30s; animation-delay: 2.30s;">e</span>
                            </div>             
                        </div>    
                    </div>
                    <!-- widget --> 
            
                </div>
                <!-- col-md-12 -->
            
            </div>
            <!-- row --> 

            <div class="row justify-content-center">
            
                <div class="col-md-8 col-md-8 col-8 order-md-4 order-sm-1 order-4">

                    <div class="widget reading-module-search-1">
                        <div class="row justify-content-center">
                        
                            <div class="col-md-8 col-md-8 col-8 order-md-2 order-sm-1 order-4">

                                <div class="widget-content">
                                    <h3>Find the Lastest Cheap Book...</h3>
                                    <div class="search-box-1">
                                        <form action="#" class="search-form-1" method="get">
                                            <input type="text" onblur="if (this.value == '')
                                                this.value = this.defaultValue;" onfocus="if (this.value == this.defaultValue)
                                                this.value = '';" value="Enter name" name="s" class="search-text">
                                            <button type="submit" class="search-submit kopa-btn-4">
                                                search
                                            </button>
                                        </form>
                                    </div>
                                    <!--search-box-->             
                                </div>
                        
                            </div>
                            <!-- col-md-8 -->
                        
                        </div>
                        <!-- row --> 
                    </div>
                    <!-- widget --> 
            
                </div>
                <!-- col-md-12 -->
            
            </div>
            <!-- row --> 

        </div>
        
    </section>


    <div class="kopa-area-tg-2">
        <span></span>
    </div>

    <div class="kopa-area-tg-3">
        <span></span>
    </div>

    <div class="ct-icon-2">
        <span class="ti-microsoft-alt"></span>
    </div>

    <div class="container">

        <div class="row">
        
            <div class="col-md-12 col-sm-12 col-xs-12">

                <div class="widget reading-module-filter-1">
                    <header class="widget-header style-01">
                        <h3 class="widget-title style-02">
                            latest<span>Products</span>
                        </h3>
                        <p>Suspendisse ac tellus congue, eleifend leo eu, elementum ligula. Suspendisse eget interdum <br>est. Nam suscipit diam nulla, porttitor blandit risus viverra sed. In hac...</p>
                    </header>
                    <div class="widget-content">
     <app-list></app-list>

                        <!-- masonry-container -->

                        <div class="text-xs-center">
                            <a class="kopa-btn-6" href="#">view all</a>
                        </div>
                                            
                    </div>
                </div>
                <!-- widget --> 
        
            </div>
            <!-- col-md-12 -->
        
        </div>
        <!-- row --> 
    
    </div>
    <!-- container -->
    

</div>