<header class="kopa-page-header-1">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 col-md-6 col-6 text-left">
        <!-- <div class="hamburger-menu"><span class="ti-menu"></span></div> -->
        <!-- hamburger-menu -->
        <div class="kopa-logo">
          <a href="#">
            <img src="assets/img/logo.png" alt="" />
          </a>
        </div>
        <!-- logo -->
      </div>
      <!-- col-lg-2 -->
      <div class="col-lg-8 col-md-0 col-0">
        <!-- main-nav -->
        <app-nav></app-nav>
        <!--end main-nav -->
      </div>
      <!-- col-lg-8 -->
      <div class="col-lg-2 col-md-6 col-6 text-right">
        <!-- cart -->
        <!-- <div class="short-nav kopa-dropdown">
                  <div class="kopa-btn-1 kopa-dropdown-btn"> <span></span>
                  </div>
                  <div class="kopa-dropdown-content">
                      <ul class="clearfix">
                          <li> <a href="#"><i class="ti-user"></i>My Account</a>
                          </li>
                          <li> <a href="#"><i class="ti-heart"></i>Favorite</a>
                          </li>
                          <li> <a href="#"><i class="ti-check"></i>Checkout</a>
                          </li>
                          <li> <a href="#"><i class="ti-info-alt"></i>fAQs</a>
                          </li>
                          <li> <a href="#"><i class="ti-share-alt"></i>Logout</a>
                          </li>
                      </ul>
                  </div>
              </div> -->
        <!-- short-nav -->
        <!-- <div class="kopa-search-box-1 kopa-dropdown"> <span class="ti-search kopa-dropdown-btn"></span>
                  <form action="#" class="search-form-1 kopa-dropdown-content"
                  method="get">
                      <input class="search-text" type="text" onblur="if (this.value == &apos;&apos;)

                            this.value = this.defaultValue;" onfocus="if (this.value == this.defaultValue)

                            this.value = &apos;&apos;;" value="Search..."
                      placeholder="Search..." name="s">
                  </form>
              </div> -->
        <!-- search-box -->
      </div>
      <!-- col-lg-2 -->
    </div>
    <!-- row -->
  </div>
</header>
