<div class="bottom-sidebar kopa-area white-text-style style-01">

    <div class="kopa-area-tg-4">
        <span></span>
    </div>

    <div class="container">

        <div class="row">
        
            <div class="col-md-3 col-sm-3 col-xs-3">

                <div class="widget reading-module-intro-2">
                    <div class="widget-content">
                        <a href="#"><img src="images/p7/1.png" alt=""></a>  
                        <p>This is Photoshop's version of Lorem ain gravida nibh vel velit ctor aliquet. an itudin, lorem quis bibendum auctoisi elit</p>
                        <p>Duis sed odio sit amet nibh vulputate us a sit amet mauris. Morbi accumsan .
                        </p>
                        <div class="kopa-social-links style-02">
                            <ul class="clearfix">
                                <li><a href="#" class="fa fa-facebook"></a></li>
                                <li><a href="#" class="fa fa-twitter"></a></li>
                                <li><a href="#" class="fa fa-instagram"></a></li>
                                <li><a href="#" class="fa fa-rss"></a></li>
                            </ul>
                        </div> 
                    </div>
                </div>
                <!-- widget --> 
        
            </div>
            <!-- col-md-3 -->
        
            <div class="col-md-3 col-sm-3 col-xs-3">

                <div class="widget widget_nav_menu ct-widget-1">
                    <h3 class="widget-title style-04">my<span>Acount</span></h3>
                    <ul class="clearfix">
                        <li>
                            <a href="#">My Account</a>
                        </li>
                        <li>
                            <a href="#">Personal Information</a>
                        </li>
                        <li>
                            <a href="#">Track My Order</a>
                        </li>
                        <li>
                            <a href="#">Discount</a>
                        </li>
                        <li>
                            <a href="#">Order History</a>
                        </li>
                        <li>
                            <a href="#">my credit Slip</a>
                        </li>
                    </ul>
                </div>
                <!-- widget --> 
        
            </div>
            <!-- col-md-3 -->
        
            <div class="col-md-3 col-sm-3 col-xs-3">

                <div class="widget widget_nav_menu ct-widget-1">
                    <h3 class="widget-title style-04">our<span>services</span></h3>

                    <ul class="clearfix">
                        <li>
                            <a href="#">Shipping & Return</a>
                        </li>
                        <li>
                            <a href="#">International Shipping</a>
                        </li>
                        <li>
                            <a href="#">Secure Shoping</a>
                        </li>
                        <li>
                            <a href="#">Affliates</a>
                        </li>
                        <li>
                            <a href="#">Careers</a>
                        </li>
                        <li>
                            <a href="#">FAQ</a>
                        </li>
                    </ul>
                </div>
                <!-- widget --> 
        
            </div>
            <!-- col-md-3 -->
        
            <div class="col-md-3 col-sm-3 col-xs-3">

                <div class="widget widget_nav_menu ct-widget-1">
                    <h3 class="widget-title style-04">our<span>info</span></h3>
                    <ul class="clearfix">
                        <li>
                            <a href="#">About Us</a>
                        </li>
                        <li>
                            <a href="#">Delivery Information</a>
                        </li>
                        <li>
                            <a href="#">Pribacy & Policy</a>
                        </li>
                        <li>
                            <a href="#">Terms & Conditions</a>
                        </li>
                        <li>
                            <a href="#">Manufactures</a>
                        </li>
                        <li>
                            <a href="#">Suppliers</a>
                        </li>
                    </ul>
                </div>
                <!-- widget --> 
        
            </div>
            <!-- col-md-3 -->
        
        </div>
        <!-- row --> 
    
    </div>
    <!-- container -->

</div>
<!-- bottom-sidebar -->

<footer class="kopa-footer">
    <div class="container">
        <div class="kopa-pull-left">
            <p class="copyright">&copy; Copyright 2016 by  <a href="#">Kopatheme</a>  -  All Rights Reserved.</p>
        </div>
        <div class="kopa-pull-right">
            <ul class="clearfix">
                <li>
                    <a href="#"><img src="images/p8/1.png" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="images/p8/2.png" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="images/p8/3.png" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="images/p8/4.png" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="images/p8/5.png" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="images/p8/6.png" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="images/p8/7.png" alt=""></a>
                </li>
            </ul>
        </div>
    </div>
    <!-- container -->
</footer>